div.bottom_message {
  display: block;
  position: fixed;
  bottom: 30px;
  right: 5px;
  background: #433337;
  border: solid 1px #c97539;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffb684;
  width: 550px;
  height: 100px;
  line-height: 18px;
}

div.bottom_message a,
div.bottom_message a:visited {
  color: #9d9eb7;
  text-decoration: none;
}

div.bottom_message a:hover {
  color: #9f9fee;
  text-decoration: underline;
}

div.bottom_message_text {
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  margin: 0;
}

div.bottom_message_left {
  flex: 1;
  padding: 20px 0 0 20px;
  text-align: center;
}

div.bottom_message_right {
  flex: 6;
  padding: 20px;
}
