.col2 {
  display: block;
  width: 290px;
  background: #222336;
  border-right: solid 1px #3f4455;
  height: 100%;
  overflow-y: scroll;
  margin: 0;
  padding: 0;
}

.col2>div,
.col4>div {
  margin: 12px;
}

.col2 .col_title,
.col4 .col_title {
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.col2 input[type=text],
.col4 input[type=text] {
  border: solid 1px #35384c;
  padding: 8px;
  color: #fafafa;
  background: #35384c;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 15px;
  font-size: 15px;
  margin: 0 6px 0 0;
}

.col2 input[type=text]:focus,
.col4 input[type=text]:focus {
  border: solid 1px #1a3853;
  outline: none;
}

.col2 input[type=text]:disabled,
.col2 input[type=text]:disabled {
  border: solid 1px #1a3853;
  outline: none;
  background: #35384c;
}

.col2 label,
.col4 label {
  display: inline-block;
  height: 15px;
  padding: 8px 0 8px 0;
  color: #959bad;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  margin: 0 6px 0 0;
}

.col2 .col_w5,
.col4 .col_w5 {
  width: 250px;
}

.col2 .col_w4,
.col4 .col_w4 {
  width: 200px;
}

.col2 .col_w3,
.col4 .col_w3 {
  width: 150px;
}

.col2 .col_w2,
.col4 .col_w2 {
  width: 100px;
}

.col2 .col_w1,
.col4 .col_w1 {
  width: 50px;
}

.col2 input[type=checkbox],
.col4 input[type=checkbox] {
  border: solid 1px #35384c;
  padding: 8px;
  color: #fafafa;
  background: #35384c;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 15px;
  font-size: 15px;
  margin: 0 6px 0 0;
  outline: none;
}

.col2 input[type=checkbox]:focus,
.col4 input[type=checkbox]:focus {
  border: solid 1px #1a3853;
  outline: none;
}

.col2 input[type=radio],
.col4 input[type=radio] {
  border: solid 1px #35384c;
  padding: 8px;
  color: #fafafa;
  background: #35384c;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 15px;
  font-size: 15px;
  margin: 0 6px 0 0;
  outline: none;
}

.col2 input[type=radio]:focus,
.col4 input[type=radio]:focus {
  border: solid 1px #1a3853;
  outline: none;
}

.col2 select,
.col4 select {
  border: solid 1px #35384c;
  padding: 8px;
  color: #fafafa;
  background: #35384c;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 15px;
  font-size: 15px;
  margin: 0 6px 0 0;
}

.col2 select:focus,
.col4 select:focus {
  border: solid 1px #1a3853;
  outline: none;
}

.col2 button,
.col4 button {
  border: solid 1px #35384c;
  padding: 8px;
  color: #fafafa;
  background: #35384c;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 15px;
  font-size: 15px;
  margin: 0 6px 0 0;
}

.col2 button:focus,
.col4 button:focus {
  border: solid 1px #1a3853;
  outline: none;
}

.col2 button:hover,
.col4 button:hover {
  background: #fafafa;
  color: #35384c;
  cursor: pointer;
}

.col2 .col_icon,
.col4 .col_icon {
  width: 25px;
  height: 25px;
  color: #fafafa;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  display: inline-block;
}

.col2 .col_info,
.col2 .col_info {
  color: #fafafa;
  background: #35384c;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 13px;
  font-size: 13px;
  padding: 12px;
  text-align: center;
}

.col2 ul,
.col4 ul {
  margin: 0 0 0 12px;
  padding: 0;
}

.col2 li,
.col4 li {
  margin: 0;
  color: #fafafa;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 15px;
  font-size: 15px;
  padding: 3px;
  text-align: left;

}
